{% extends "base.html" %}

{% block content %}

<!-- DISPLAY FORM TO ADD SELLER REVIEW -->
<h1>Add New Review</h1>
<br>
<p>Create review:<p>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.rating.label }}
    {% for subfield in form.rating %}
    <tr>
        <br/>
        <td> {{subfield}} </td>
        <td> {{subfield.label}} </td>
    <tr>
    {% endfor %}
    <br/>
    {% for error in form.rating.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.review.label }}<br/>
    {{ form.review(size=50, maxlength=255) }}<br/>
    {% for error in form.review.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

<!-- DISPLAY LINK BACK TO DETAILED ORDER PAGE -->
<p><a href="{{ url_for('order.show_order_details', o_id=o_id) }}">Return to detailed order page</a><p> 


{% endblock %}
