{% extends "base.html" %}

{% block content %}

<br><br>

<p><a href="{{ url_for('product.show_product_list', page=0) }}">Click</a> to see products!</p>

<!-- <br><br>
{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td>{{purchase.pid}}</td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %} -->

<br><Br>
{% if current_user.is_authenticated %}
<p><a href="{{ url_for('product.create_new_product') }}">Click</a> to create a new product!</p>
{% else %}
{% endif %}

<br><br>
{% if current_user.is_authenticated %}
<p><a href="{{ url_for('cart.show_cart', msg=0) }}">Click</a> to see your shopping cart!</p>
{% else %}
{% endif %} 

<!-- Implemented in account settings -->
<!-- <br><br>
{% if current_user.is_authenticated %}
<p><a href="{{ url_for('history.your_history') }}">Click</a> to see your purchase history!</p>
{% else %}
{% endif %} -->

<!-- <br><br>
{% if current_user.is_authenticated %}
<p><a href="{{ url_for('ratings.your_reviews',start=0) }}">Click</a> to see your reviews!</p>
{% else %}
{% endif %} -->

<!-- Implemented in account settings -->
<!-- <br><Br>
{% if current_user.is_authenticated %}
<p><a href="{{ url_for('history.your_history') }}">Click</a> to see your purchase history!</p> -->

<!-- IMPORTANT -->
<!-- This is the link to use to view a public page. Simple change the ID = to equal the seller's ID -->
<!-- <p><a href="{{ url_for('public_page.view_profile',start=0,ID=current_user.id) }}">Click</a> to see your public profile!</p>
{% else %}
{% endif %} -->

<script>
  function myFunction() {
    // Declare variables 
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      // value of arraw element is what you're filtering by
      // need to create option to filter by different things/combos maybe
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }
  </script>

{% endblock %}
