{% extends "base.html" %}

{% block content %}

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
</head>

<br><br>

<main class="container">
 
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
        <img src={{listing.image}}>
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Listing -->
      <div class="product-listing">
        <span>{{product.p_name}}</span>
        <h1>{{listing.listing_name}}</h1>
        <p>{{listing.description}}</p>
        <p>Tags: {{tag_list_f}}</p>
      </div>
   
      <!-- Product Configuration -->
      <div class="product-configuration">
   
        <!-- Product Version -->
        <div class="product-version">
          <span>Version</span>
          <br>
          <div class="version-choose">
            <button class="dropbtn">Select a Version</button>
            <div class="dropdown-content">
              {% for listing in product_listings%}
              <!-- maybe add scrolling proeprties? -->
              <a href="{{ url_for('product.show_listing_page', product_id = listing.product_id, listing_id = listing.l_id) }}">{{listing.listing_name}}</a>
              {% endfor %}
            </div>
          </div>
   
        </div>

        <!-- Seller Configuration -->
      <div class="seller-config">
        <span>Seller</span>
        <!-- insert link to user page?? -->
        <p>Seller id: {{listing.seller_id}}</p>
        <p>Click here to see the seller's profile: <a href="{{ url_for('public_page.view_profile', start=0, ID = listing.seller_id) }}">{{seller.firstname}}</a></p>
      </div>

      <!-- Reviews Configuration -->
      <div class="seller-config">
        <span>Ratings</span>
        <!-- insert link to user page?? -->
        <p>Number of ratings: {{ count }}</p>
        <p>Average ratings: {{avg}}</p>
        <!-- <p>{{quantity}}</p> -->
        <p><a href="{{ url_for('ratings.show_product_reviews', reviewee=listing.product_id, l_id=listing.l_id, start=0) }}">See all reviews</a></p>
      </div>

      <form action="{{ url_for('product.add_to_cart', product_id = listing.product_id, listing_id = listing.l_id) }}" method="post">
        <div class="quantity-select">
          <span for="qs">Quantity of Product: </span>
          <!-- pass in values to min and max -->
          <p>Quantity Available: {{ quantity.quantity }}</p>
          <input type="number" id="inputfield" name="quantity"
            min="1" max= {{quantity}}>
          <button type="submit" class="cart-btn">Add to Cart</button>
        </div>
      </form>

      <!-- Product Pricing -->
    <div class="product-price">
      <span for="price">Price of Product:</span> 
      <p>${{"%.2f"|format(listing.price)}}</p>
      <!-- link to cart? or just add to cart? not sure what page goes here -->
    </div>
    
    {% if can_edit_product == True%}
    <form action="{{ url_for('product.update_product', product_id = listing.product_id)}}">
      <button type="submit" class="cart-btn">Edit Product</button>
    </form>
    {% endif %}
    {% if can_create_listing == True%}
    <form action="{{ url_for('inventory.create_new_listing', product_id = listing.product_id)}}">
      <button type="submit" class="cart-btn">Add Listing</button>
    </form>
    {% endif %}
    {% if can_update_listing == True%}
    <form action="{{ url_for('inventory.update_new_listing', product_id = listing.product_id, listing_id =listing.l_id)}}">
      <button type="submit" class="cart-btn">Update Listing</button>
    </form>
    {% endif %}

</main>

{% endblock %}
