{% extends "base.html" %}

{% block content %}
<br>
<h2>Hello! {{current_user.firstname}}'s Quantity Is:</h2><br>
<p></p>
<p>{{quantity.quantity}}</p>

<h3>Change Quantity:</h3>
<form action="" method="POST" >
    <label>Please enter your new quantity here: </label>
    <input 
      type="number" min=0.00 max=10000.00
      step=1
      value=0
      id="inputfield" name="quantityform" 
    />
    <button type="submit">Update</button>
  </form>


<p><a href="{{ url_for('inventory.show_inventory') }}">Click</a> to return to your inventory!</p>
<br><br><p><a href="{{ url_for('product.show_product_list', page = 0) }}">Return to homepage</a>
{% endblock %}
