{% extends "base.html" %}
{% block content %}

<br><br>
<h2>Order {{order_id}}:</h2>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Listing ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Listing Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Item Total</th>
      <th scope="col">Fulfilled</th>
      <th scope="col">Date/Time Fulfilled</th>
      <th scope="col">Buyer ID</th>
      <th scope="col">Buyer Information</th>
      <th scope="col">Fulfill Order</th>
   </tr>
  </thead>
  <tbody>
    {% for odi in od %}
      <tr>
        <th scope="row">{{odi.l_id}}</th>
        <td>{{odi.p_id}}</td>
        <td>{{odi.l_name}}</td>
        <td>{{odi.quantity}}</td>
        <td>${{odi.price}}</td>
        <td>${{odi.subtotal}}</td>
        <td>{{odi.fulfilled}}</td>
        <td>{{odi.datetime_fulfilled}}</td>
        <td>{{odi.user_id}}
          <p><a href="{{ url_for('ratings.view_messages',l_id=odi.l_id, o_id=order_id, buyer_side=buyer_side) }}">See message thread</a><p> 
        </td>
        <td><a href="{{ url_for('buyer_info.view_profile',buyer_id=odi.user_id) }}">Buyer Information</a></td>
        <td><a href="{{ url_for('seller_order_details.fulfill_order',o_id=order_id,l_id=odi.l_id) }}">Fulfill</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>
<h3>Final Order Total: ${{total}}</h3>

<br><br>
<p><a href="{{ url_for('seller_orders.show_seller_orders') }}">Return to Seller Orders!</a></p>


{% endblock %}
