{% extends "base.html" %}

{% block content %}

<br><br>

<div>
    <!-- text input for search parameter -->
  <form action="{{ url_for('seller_orders.show_sort_seller_orders', query_id='temp') }}" method="post">
    <div class="sort">
      <p id=form-prompt>Sort By</p>
      <!-- sort button, click whichever thing you want to sort by and it will be displayed by the button -->
      <label class="Lcontainer">Sort Orders Oldest to Newest
        <input type="radio" value='pa' name='sort'>
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="filter">
      <p id=form-prompt>Filter By</p>
      <!-- filter button, click what you want to filter by, then click the button again to go back to all listings -->
      <label class="Lcontainer"> Orders Fulfilled
        <input type="radio" value='of' name='filter'>
        <span class="checkmark"></span>
      </label>
      <label class="Lcontainer"> Orders Unfulfilled
        <input type="radio" value='ou' name='filter'>
        <span class="checkmark"></span>
      </label>
    </div>
    <button type="submit" class="search-btn">Go</button>
  </form>
</div>


<h2>Your Seller Orders:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Placed?</th>
      <th scope="col">Fulfilled?</th>
      <th scope="col">Number of Items</th>
      <th scope="col">Additional Information</th>
    </tr>
  </thead>
  <tbody>
    {% for product in seller_orders%}
      <tr>
         <th scope="row">{{product.o_id}}</th> 
         <td>{{product.placed}}</td>
         <td>{{product.fulfilled}}</td>
         <td>{{product.num_items}}</td>
        <td><p><a href="{{ url_for('seller_order_details.show_order_details',o_id=product.o_id) }}">More Details</a></p></td>
      </tr>
    {% endfor %}
  </tbody> 
  </table>

 
  <p><a href="{{ url_for('inventory.show_inventory') }}">Click</a> to return to your inventory!</p>
  <br><br><p><a href="{{ url_for('product.show_product_list', page = 0) }}">Return to homepage</a>
  {% endblock %}

