{% extends "base.html" %}

{% block content %}

<br><br>
<h2>Your inventory:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>

      <th scope="col">Listing ID</th>
      <th scope="col">Listing Name</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Quantity</th>
      <th scope="col">Change Quantity</th>
      <th scope="col">Delete From Inventory</th>
    </tr>
  </thead>
  <tbody>
    {% for listing in seller_inventory%}
      <tr>
         <!-- <th scope="row">{{listing.seller_id}}</th>  -->
        <td>{{listing.id}}</td>
        <td>{{listing.l_name}}</td>
        <td>{{listing.seller_id}}</td>
        <td>{{listing.quantity}}</td>
        <td><a href="{{ url_for('quantityTest.change_quantity_to', listing_id=listing.id) }}">Change Listing Quantity</a></td>
        <td><a href="{{ url_for('inventory.delete_product_inventory', listing_id=listing.id) }}">Delete Listing</a></td>
      </tr>
    {% endfor %}
  </tbody> 
  </table>

  
  
  <br><br><p><a href="{{ url_for('seller_orders.show_seller_orders') }}">See Your Seller Orders!</a>
  <br><br><p><a href="{{ url_for('product.show_product_list', page = 0) }}">Return to homepage</a>
  {% endblock %}


  
  
  



