{% extends "base.html" %}
{% block content %}

{% if msg != '0' %}
<h1 style="text-align:center"><p style="color:red;">{{msg}}</p></h1>
{% else %}
{% endif %}

<br><br>
<h2>Your Shopping Cart:</h2>


<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Product Name (ID)</th>
      <th scope="col">Listing Name (ID)</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Item Subtotal</th>
      <th scope="col">Change Quantity</th>
      <th scope="col">Save for Later</th>
      <th scope="col">Remove Item</th>
    </tr>
  </thead>
  <tbody>
    {% for my_item in my_cart %}
      <tr>
        <td style="text-align:center"><img src="{{my_item.image}}" width="150" height="150" alt="Image N/A" /></td>
        <th style="text-align:center" scope="row">{{my_item.p_name}} &nbsp &nbsp ({{my_item.p_id}})</th>
        <td style="text-align:center">{{my_item.l_name}} &nbsp &nbsp ({{my_item.l_id}})</td>
        <td style="text-align:center">{{my_item.s_id}}</td>
        <td style="text-align:center">{{my_item.quantity}}</td>
        <td style="text-align:center">${{my_item.price}}</td>
        <td style="text-align:center">${{my_item.subtotal}}</td>
        <td style="text-align:center">
          <form action="{{ url_for('cart.edit_item_quantity',l_id=my_item.l_id) }}" method="post" >
            <input 
              type="number" min=1 max={{my_item.inventory}}
              placeholder={{my_item.quantity}}
              value={{my_item.quantity}}
              id="{{my_item.l_id}}" name="new_quant_{{my_item.l_id}}" 
            />
            <button type="submit">Update</button>
          </form>
          <!-- <p><a href="{{ url_for('cart.edit_item_quantity', l_id = my_item.l_id, new_quant = 2) }}">Update Quantity</a> -->
        </td>
        <td style="text-align:center"><p><a href="{{ url_for('cart.move_sfl', l_id = my_item.l_id) }}"><img src="https://cdn3.iconfinder.com/data/icons/user-interface-2-12/24/icon-ui-2-bookmark-512.png" width="75" height="75" /></a></td>
        <td style="text-align:center"><p><a href="{{ url_for('cart.remove_item', l_id = my_item.l_id) }}"><img src="https://icons-for-free.com/iconfiles/png/512/delete+remove+trash+trash+bin+trash+can+icon-1320073117929397588.png" width="75" height="75" /></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if sfl_sz > 0 %}

<br><br>
<h2>Your Saved for Later:</h2>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Product Name (ID)</th>
      <th scope="col">Listing Name (ID)</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Add Back to Cart</th>
      <th scope="col">Remove Item</th>
    </tr>
  </thead>
  <tbody>
    {% for item in my_sfl %}
      <tr>
        <td style="text-align:center"><img src="{{item.image}}" width="150" height="150" alt="Image N/A" /></td>
        <th style="text-align:center" scope="row">{{item.p_name}} &nbsp &nbsp ({{item.p_id}})</th>
        <td style="text-align:center">{{item.l_name}} &nbsp &nbsp ({{item.l_id}})</td>
        <td style="text-align:center">{{item.s_id}}</td>
        <td style="text-align:center"><p><a href="{{ url_for('cart.move_cart', l_id = item.l_id) }}"><img src="https://cdn-icons-png.flaticon.com/512/57/57629.png" width="75" height="75" /></a></td>
        <td style="text-align:center"><p><a href="{{ url_for('cart.remove_item', l_id = item.l_id) }}"><img src="https://icons-for-free.com/iconfiles/png/512/delete+remove+trash+trash+bin+trash+can+icon-1320073117929397588.png" width="75" height="75" /></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
{% endif %}

<br><br>
<h3>Cart Total: ${{total}}</h3>

{% if cart_sz + sfl_sz > 0%}
<p><a href="{{ url_for('cart.remove_all') }}">Remove All</a>
<br>
{% else %}
{% endif %}

{% if cart_sz > 0 %}
<p><a href="{{ url_for('cart.place_order') }}">Submit Order</a>
{% else %}
{% endif %}

<br><br>
<p><a href="{{ url_for('product.show_product_list', page = 0) }}">Return to account page</a></p>

{% endblock %}
