{% extends "base.html" %}

{% block content %}

<!-- DISPLAY ALL MESSAGES BETWEEN BUYER AND SELLER -->
{% if messages is not none %}
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Message</th>
      <th scope="col">Date Created</th>
    </tr>
  </thead>
  <tbody>
    {% for message in messages %}
      <tr>
        <th scope="row">{{message.author}}</th>
        <td>{{message.message}}</td>
        <td>{{message.dateAndTime}}</td>
      </tr>
    {% endfor %}
  </tbody>
{% endif %}

<!-- DISPLAY FORM TO ADD A NEW MESSAGE -->
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.message.label }}<br/>
    {{ form.message(rows=10, cols=40, maxlength=500) }}<br/>
    {% for error in form.message.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

<!-- DISPLAY LINK BACK TO DETAILED ORDER PAGE -->
{% if buyer_side %}
<p><a href="{{ url_for('order.show_order_details', o_id=o_id) }}">Return to detailed order page</a><p> 
{% else %}
<p><a href="{{ url_for('seller_order_details.show_order_details', o_id=o_id) }}">Return to detailed order page</a><p> 
{% endif %}

{% endblock %}

