{% extends "base.html" %}
{% block content %}

<br><br>
<h2>Order #{{order_id}}:</h2>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Product Name (ID)</th>
      <th scope="col">Listing Name (ID)</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Item Total</th>
      <th scope="col">Fulfilled</th>
      <th scope="col">Date/Time Fulfilled</th>
    </tr>
  </thead>
  <tbody>
    {% for odi in od %}
      <tr>
        <td style="text-align:center"><img src="{{odi.image}}" width="150" height="150" alt="Image N/A" /></td>
        <th style="text-align:center" scope="row">{{odi.p_name}} &nbsp &nbsp ({{odi.p_id}})</th>
        <td style="text-align:center">{{odi.l_name}} &nbsp &nbsp ({{odi.l_id}})</td>
        <td>{{odi.s_id}}
          <p><a href="{{ url_for('ratings.add_s_review_order',reviewer=current_user.id, reviewee=odi.s_id, o_id=order_id) }}">Add/update review</a><p>
          <p><a href="{{ url_for('ratings.view_messages',l_id=odi.l_id, o_id=order_id, buyer_side=buyer_side) }}">See message thread</a><p> 
        </td>
        <td style="text-align:center">{{odi.quantity}}</td>
        <td style="text-align:center">${{odi.price}}</td>
        <td style="text-align:center">${{odi.subtotal}}</td>
        <td style="text-align:center">{{odi.fulfilled}}</td>
        <td style="text-align:center">{{odi.datetime_fulfilled}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>
<h3>Final Order Total: ${{total}}</h3>

<br><br>
<p><a href="{{ url_for('history.your_history') }}">Return to orders</a></p>

{% endblock %}
