{% extends "base.html" %}

{% block content %}

<h3>This is {{profile.firstname}}'s public view</h3><br>
<p>ID: {{profile.id}}</p>
<p>First name: {{profile.firstname}}</p>
<p>Last name: {{profile.lastname}}</p>

<!-- IF seller, also display -->
{% if seller %}
<p>Seller information:</p><br>
<p>Address: {{profile.address}}</p>
<p>Email: {{profile.email}}</p>

{% if current_user.is_authenticated %}
{% if your_rating is not none %}
<h2>Your review:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Date Created</th>
      <!--<th scope="col">Likes</th>-->
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{your_rating.rating}}</th>
        <td>{{your_rating.review}}</td>
        <td>{{your_rating.dateAndTime}}</td>
        <!--<td>{{your_rating.helpful}}</td>-->
        <td><p><a href="{{ url_for('ratings.edit_s_review_public',reviewer=your_rating.reviewer, reviewee=your_rating.reviewee, rating=your_rating.rating, review=your_rating.review, start=start) }}">Update review</a>
        <br><br><a href="{{ url_for('ratings.delete_seller_review', reviewer=your_rating.reviewer, reviewee=your_rating.reviewee, start=start, came_from=2, o_id=-1) }}">Delete review</a></p></td>
      </tr>
  </tbody>
</table>
{% elif can_review %}
<a class="btn btn-black" href="{{ url_for('ratings.add_s_review_public', reviewer=current_user.id, reviewee=profile.id, start=start) }}" role="button">Add new review</a>
{% endif %}
<br><br>
{% endif %}

<h2>Seller Rating Summary:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Number of Reviews</th>
      <th scope="col">Average Rating</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{ count }}</th>
        <td>{{ avg }}</td>
      </tr>
  </tbody>
</table>

<br><br>
{% if end %}
<h2>There are no other reviews</h2>
{% else %}
<h2>Seller Reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Date Created</th>
      <!--<th scope="col">Likes</th>-->
      <!-- <th scope="col"></th> -->
    </tr>
  </thead>
  <tbody>
    {% for review in others%}
      <tr>
        <th scope="row">{{review.reviewer}}</th>
        <td>{{review.rating}}</td>
        <td>{{review.review}}</td>
        <td>{{review.dateAndTime}}</td>
        <!--<td>{{review.helpful}}</td>-->
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<br>
{% if start != 0 -%}
<a class="btn btn-black" href="{{ url_for('public_page.view_profile', start=start-10, ID=profile.id) }}" role="button">See newer reviews</a>
{% endif %}

{% if end %}
<br><br><p><a href="{{ url_for('public_page.view_profile', start=0, ID=profile.id) }}">Return to newest seller reviews</a></p>
{% else %}
<a class="btn btn-black" href="{{ url_for('public_page.view_profile', start=start+10, ID=profile.id) }}" role="button">See older reviews</a>
{% endif %}

{% else %}
{% endif %}
{% endblock %}
