{% extends "base.html" %}

{% block content %}

<h1>Updating Listing {{listing_name}}</h1>

<form action="" method="post">
  {{ form.hidden_tag() }}
  
  <p>
    {{ form.listing_name.label }}<br/>
    {{ form.listing_name(size=32) }}<br/>
    {% for error in form.listing_name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.price.label }}<br/>
    {{ form.price(size=8) }}<br/>
    {% for error in form.price.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.image_url.label }}<br/>
    {{ form.image_url(size=64)}}<br/>
    {% for error in form.image_url.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.description.label }}<br/>
    {{ form.description(size=128) }}<br/>
    {% for error in form.description.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.tag.label }}<br/>
    {{ form.tag(size=32) }}<br/>
    {% for error in form.tag.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

<br><br><p><a href="{{ url_for('product.see_tags') }}">View All Tags!</a>
<br><br><p><a href="{{ url_for('product.create_new_tag') }}">Create a new Tag!</a>
{% endblock %}
