{% extends "base.html" %}

{% block content %}

<br><br>
<!-- DISPLAY PRODUCT REVIEWS -->
<h2>Your recent product reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Date Created</th>
      <th scope="col">(Dis?)Likes</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for review in product_reviews%}
      <tr>
        <th scope="row">{{review.reviewee}}</th>
        <td>{{review.rating}}</td>
        <td>{{review.review}}</td>
        <td>{{review.dateAndTime}}</td>
        <td>{{review.helpful}}</td>
        <td><p><a href="{{ url_for('ratings.edit_product_review', reviewer=review.reviewer, reviewee=review.reviewee, rating=review.rating, review=review.review, start=place-10, l_id=-1) }}">Update review</a>
        <br><br><a href="{{ url_for('ratings.delete_product_review', reviewer=review.reviewer, reviewee=review.reviewee, start=place-10, l_id=-1) }}">Delete review</a></p></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>
<!-- DISPLAY SELLER REVIEWS -->
<h2>Your recent seller reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Seller ID</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Date Created</th>
      <!--<th scope="col">Likes</th>-->
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for review in seller_reviews%}
      <tr>
        <th scope="row">{{review.reviewee}}</th>
        <td>{{review.rating}}</td>
        <td>{{review.review}}</td>
        <td>{{review.dateAndTime}}</td>
        <!--<td>{{review.helpful}}</td>-->
        <td><p><a href="{{ url_for('ratings.edit_s_review',reviewer=review.reviewer, reviewee=review.reviewee, rating=review.rating, review=review.review, start=place-10) }}">Update review</a>
        <br><br><a href="{{ url_for('ratings.delete_seller_review', reviewer=review.reviewer, reviewee=review.reviewee, start=place-10, came_from=1, o_id=-1) }}">Delete review</a></p></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<!-- DISPLAY BUTTONS TO NAVIGATE TO OLDER OR NEWER REVIEWS -->
<br>
{% if place - 10 != 0 -%}
<a class="btn btn-black" href="{{ url_for('ratings.your_reviews', start=place-20) }}" role="button">See newer reviews</a>
{% endif %}

<a class="btn btn-black" href="{{ url_for('ratings.your_reviews', start=place) }}" role="button">See older reviews</a>

<!-- DISPLAY LINK BACK TO ACCOUNT PAGE -->
<br><br><p><a href="{{ url_for('account.your_account') }}">Return to account page</a>

{% endblock %}
